#container  {
    width:100%;
    text-align:center;
}
.box{
box-sizing: border-box;
    float: left;
    width: 30%;
    margin: 20px;
    background: gainsboro;
    padding: 18px;
}

h3
{
	float: right;
    margin: -17px -17px;
    background-color: pink;
    border: 1px solid black;
}



/*Mobile Query*/
@media only screen and (max-width: 767px) {
   #left, #center,#right  {
   width:100%;
  }
}

/*Tablet Query*/
@media only screen and (min-width: 768px) and (max-width:991px) {
    #right  {
    width:100%;
    padding:10px;
  }
}
